table {
    width: 50%;
    margin: 20px ;
}

th, td {
    font-size: large;
    border: 1px solid rgb(191, 94, 94);
    padding: 5px;
    text-align: center;
}

tbody.sn-block:nth-of-type(odd) {
    background-color: rgb(56, 220, 69);
}

tbody.sn-block:nth-of-type(even) {
    background-color: rgb(84, 184, 217);
}